  .App {
  text-align: center;
  background-color: blueviolet;
  min-height: 100vh;
} 
/*  */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
label{
    display: inline-block;
    width: 80px;
    margin: 0px;
    font-family: 'Fruktur', cursive;
    text-align: center;
    color:coral;
    font-size: 25px;
    padding: 10px;
}
#container
{
    border:3px dashed rgba(255, 217, 0, 0.247);
    width: 600px;
    height: 600px;
    flex-flow: wrap;
    background-color: rgb(108, 212, 219);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
div{
  text-align: center;

}
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
h2{
  font-size: 35px;
  font-family: 'Irish Grover', cursive;
  color: brown;
  text-align: center;
  justify-content: center;
  border: 3px sienna solid;
  background-color: rgba(204, 141, 204, 0.877);
  width:max-content;
  margin-left:180px;
}